.widgetSm {
    flex: 1;
    -webkit-box-shadow: 0px 0px 15px -10px rgba(0, 0, 0, 0.75);
    box-shadow: 0px 0px 15px -10px rgba(0, 0, 0, 0.75);
    padding: 20px;
    margin: 20px;
}

.widgetSm__title {
    font-size: 24px;
    font-weight: 600;
}

.widgetSm__list {
    list-style: none;
    margin: 10px 0px;
    padding: 0;
}

.widgetSm__listItem {
    display: flex;
    align-items: center;

}

.widgetSm__avatar {
    margin-right: 15px;
}

.widgetSm__user {
    display: flex;
    flex-direction: column;
    margin: 10px;
    flex: 5;
}

.widgetSm__userName {
    font-weight: 600;
}